---
layout: default
title: Web design and development by Adrian Unger
---
<div id="recent" class="inner">

    <div class="column">
        <h3>Recently, I launched</h3>

        {% for post in site.categories.work limit:1 %}
        <article class="entry">
            <img class="scale" data-replace="http://placehold.it/800x600" src="http://placehold.it/320x400" alt="Some Project Image">
            <header>
                <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
            </header>

            <p>{{ post.date }}</p>
        </article>
        {% endfor %}

        <a href="/work">All work</a>
    </div>

    <div class="column">
        <h3>Recently, I wrote</h3>

        {% for post in site.categories.articles limit:1 %}
        <article class="entry">
            <header>
                <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
            </header>

            <p>{{ post.date }}</p>
        </article>
        {% endfor %}

        <a href="/articles">All articles</a>
    </div>

    <div class="column">
        <h3>Recently, I posted</h3>

        {% for post in site.categories.bits limit:1 %}
        <article class="entry">
            <header>
                <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
            </header>

            <p>{{ post.date }}</p>
        </article>
        {% endfor %}

        <a href="/bits">All bits</a>
    </div>
</div>
