/*
    main-010.css

    organization based on:
     http://developers.whatwg.org/content-models.html

    01 - Reset
    02 - Structure
    03 - Headings
    04 - Links
    05 - Text
    06 - Lists
    07 - Forms
    08 - Embeds
    09 - Generic / Reusable
    10 - Media Queries
*/

/*
    01 - Reset
*/
h1,h2,h3,h4,h5,h6,address,blockquote,div,p,pre,code,body,dl,dt,dd,ol,ul,li,fieldset,form,input,legend,textarea,body {
    margin:0;
    padding:0;
}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
    display:block;
}
object {
    outline:none;
}
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../font/bebas-neue-fontfacekit/BebasNeue-webfont.eot');
    src: url('../font/bebas-neue-fontfacekit/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/bebas-neue-fontfacekit/BebasNeue-webfont.woff') format('woff'),
         url('../font/bebas-neue-fontfacekit/BebasNeue-webfont.ttf') format('truetype'),
         url('../font/bebas-neue-fontfacekit/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*
    02 - Structure
*/
html {
    overflow-y:scroll; /* Force scrollbar */
    overflow-x:hidden;
    -webkit-text-size-adjust:100%; /* Remove iOS text size adjust without disabling user zoom */
    -ms-text-size-adjust:100%;
}
body {
    font:18px/1.5 sans-serif;
    font-size:1em; /* IE7 and older: IE can't resize px based text and most mobiles don't default the text to 16px */
background: #a90329; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
background: radial-gradient(center, ellipse cover,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.container {
    padding-left:20px;
    padding-right:20px;
}
.inner {
    width:100%;
    /* yo, dawg, define yer grid */
    max-width:840px;
    min-width:260px;
    margin:10% auto;
    position:relative;
}
#body {
    position:relative;
}
#card {
    position:relative;
    width:auto;
    max-width:420px;
    min-width:240px;
    min-height:100px;
    margin:5% auto;
    padding:20px;
    border:10px solid #f8f8f8;
    box-shadow:1px 1px 10px rgba(0,0,0,0.4);
    border-radius:2px 3px 2px 2px;
    background:#faf5ef url(../i/noise.png);
    font-family:'Architects Daughter';
    color:rgba(0,0,0,0.7);
}
footer {
    font-size:11px;
    text-align:center;
    padding-top:128px;
    color:#ddd;
}

/*
    03 - Headings
*/
hgroup {
    padding:20px 0;
    text-align:center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight:800;
    color:#fff;
    line-height:1.5;
}
h1 {
    font-family:'BebasNeueRegular', Helvetica, sans-serif;
    font-size:128px;
    text-transform:uppercase;
    border-bottom:1px dotted rgba(255,255,255,0.3);
    margin-bottom:20px;
    /*text-shadow:-1px -1px 0px rgba(0,0,0,0.2),1px 1px 0px rgba(255,255,255,0.1);*/
}
h2 {
    font:400 italic 36px/1.2 Georgia;
    text-shadow:0px 0px 20px rgba(255,255,255,0.5),-1px -1px 1px rgba(0,0,0,0.1),1px 1px 1px rgba(255,255,255,0.2);
    opacity:0;
    margin-top:30px;
}
h3 {
    font-size:32px;
}
h4 {
    font-size:24px;
}
h5 {
    font-size:18px;
}
h6 {
    font-size:16px;
    color:#bfbfbf;
    text-transform:uppercase;
}

/*
    04 - Links
*/
a {
    color:#fff;
    text-decoration:none;
}
a:visited {
    color:#fff;
}
a:focus {
    outline:thin dotted;
}
a:hover,
a:active {
    outline:0;
}

/*
    05 - text
*/
address,
cite,
dfn,
em,
var {
    font-style:italic;
}
b,
strong {
    font-weight:800;
}
abbr[title],
dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
mark {
    background:#ff0;
    color:#000;
}
pre,
code,
kbd,
samp {
    font-family:monospace, serif;
    _font-family:'courier new', monospace;
    font-size:1em;
}
pre {
    white-space:pre;
    white-space:pre-wrap;
    word-wrap:break-word;
}
blockquote {
    margin:20px 40px;
}
q {
    quotes:none;
}
q:before,
q:after {
    content:'';
    content:none;
}
small {
    font-size:75%; /* uses % for relativity */
}
sub,
sup {
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline;
}
sup {
    top:-0.5em;
}
sub {
    bottom:-0.25em;
}
p {
    text-indent:0;
    margin-bottom:20px;
    max-width:72%;
}

/*
    06 - Lists
*/
ol,
ul,
dd {
    padding:0 0 0 40px;
    margin:1em 0;
}
nav ul,
nav ol {
    list-style:none;
    list-style-image:none;
}

/*
    07 - Forms
*/
form {
    margin:0;
}
button,
input,
select,
textarea {
    font-family:sans-serif;
    font-size:100%;
    margin:0;
    vertical-align:baseline;
    *vertical-align:middle;
    line-height:normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor:pointer;
    -webkit-appearance:button;
    *overflow:visible;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing:border-box;
    padding:0;
}
input[type="search"] {
    -webkit-appearance:textfield;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
}
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance:none;
}
textarea {
    overflow:auto;
    vertical-align:top;
}
fieldset {
    border:1px solid #c0c0c0;
    margin:0 2px;
    padding:0.35em 0.625em 0.75em;
}
legend {
    border:0;
    *margin-left:-7px;
}

/*
    08 - Embeds
*/
img {
    border:0;
    vertical-align:top;
    max-width:100%;
    -ms-interpolation-mode:bicubic;
}
svg:not(:root) {
    overflow:hidden;
}
figure {
    margin:0;
}
@-webkit-keyframes blur {
    from    { text-shadow:0px 0px 6px #fff,0px 0px 6px #fff,0px 0px 6px #fff,0px 0px 12px #fff,0px 0px 20px #fff,0px 0px 20px #fff; }
    20%     { text-shadow:0px 0px 6px #fff,0px 0px 6px #fff,0px 0px 6px #fff,0px 0px 12px #fff,0px 0px 16px #fff,0px 0px 16px #fff; }
    30%     { text-shadow:0px 0px 6px #fff,0px 0px 6px #fff,0px 0px 6px #fff,0px 0px 12px #fff,0px 0px 16px #fff; }
    40%     { text-shadow:0px 0px 6px #fff,0px 0px 6px #fff,0px 0px 6px #fff,0px 0px 8px #fff,0px 0px 12px #fff; }
    50%     { text-shadow:0px 0px 6px #fff,0px 0px 6px #fff,0px 0px 6px #fff,0px 0px 8px #fff; }
    60%     { text-shadow:0px 0px 6px #fff,0px 0px 6px #fff,0px 0px 3px #fff,0px 0px 6px #fff; }
    70%     { text-shadow:0px 0px 6px #fff,0px 0px 6px #fff,0px 0px 3px #fff; }
    80%     { text-shadow:0px 0px 6px #fff,0px 0px 3px #fff; }
    90%     { text-shadow:0px 0px 3px #fff,0px 0px 3px #fff; }
    95%     { text-shadow:0px 0px 1px #fff; }
    to      { text-shadow:0px 0px 0px #fff; }
}
.blur {
    visibility:hidden;
}
.blur.animate {
    visibility:visible;
    -webkit-animation:blur 0.5s;
}
@-webkit-keyframes drop {
    from    { -webkit-transform:scale(0) rotate(10deg); }
    60%     { -webkit-transform:scale(1.1) rotate(-4deg); }
    95%     { -webkit-transform:scale(1) rotate(-2deg); }
    to      { -webkit-transform:scale(1) rotate(-2deg); }
}
.drop {
    visibility:hidden;
}
.drop.animate {
    visibility:visible;
    -webkit-animation:drop 0.6s;
    -webkit-transform:rotate(-2deg);
}
#stamp,
#lines {
    position:absolute;
    top:10px;
    right:0;
    opacity:0.9;
}
#lines {
    opacity:0.6;
}

/*
    09 - Generic / Reusable
*/
.move { position:absolute; left:-9999px; }
.block { display:block; }
.inline-block { display:inline-block; }
.inline { display:inline; }
.centre { text-align:center; }
.hidden {display:none;}
hr { clear:both; border:0; }
hr.spacing { padding:1em 0; }
/* For modern browsers */
.cf:before,
.cf:after { content:""; display:table; }
.cf:after { clear:both; }
/* For IE 6/7 (trigger hasLayout) */
.cf { zoom:1; }

/*
    10 - Media Queries
*/
@media only screen and (min-width: 780px) {
    .col1, .col2, .col3, .col4, .col5, .col6, 
    .col7, .col8,.col9, .col10, .col11 {
        margin-right:3.8%;
        float:left;
        min-height:1px;
    }
    .col1 { width:4.85%; }
    .col2 {width:13.45%;}
    .col3 {width:22.05%;}
    .col4 {width:30.75%;}
    .col5 {width:39.45%;}
    .col6 {width:48%;}
    .col7 {width:56.75%;}
    .col8 {width:65.4%;}
    .col9 {width:74.05%;}
    .col10 {width:82.7%;}
    .col11 {width:91.35%;}
    .col12 {width:100%;}
    .last {margin-right:0px;}

    .skip1 {padding-left:8.65%;}
    .skip2 {padding-left:17.25%;}
    .skip3 {padding-left:25.85%;}
    .skip4 {padding-left:34.55%;}

    .right { float:right !important;}
    .left { float:left !important;}
}

/* Print Styles (www.phpied.com/delay-loading-your-print-css/) */
@media print {
    * { background:transparent !important; color:#1a1a1a !important; text-shadow:none; }
    a, a:visited { color:#1a1a1a !important; text-decoration:underline; }
    a:after { content:" (" attr(href) ")"; }
    abbr:after { content:" (" attr(title) ")"; }&nbsp;&nbsp;&nbsp;&nbsp;.ir a:after { content:""; } &nbsp;/* Don't show links for images */&nbsp;&nbsp;&nbsp;&nbsp;pre, blockquote { border:1px solid #999; page-break-inside:avoid; }&nbsp;&nbsp;&nbsp;&nbsp;img { page-break-inside:avoid; }
    @page { margin:0.5cm; }
    p, h2, h3 { orphans:3; widows:3; }
    h2, h3{ page-break-after:avoid; }
}