/*
    main-180.css

    organization based on:
     http://developers.whatwg.org/content-models.html

    01 - Reset
    02 - Structure
    03 - Headings
    04 - Links
    05 - Text
    06 - Lists
    07 - Forms
    08 - Embeds
    09 - Grid / Reusable
    10 - Media Queries
*/

/*
    01 - Reset
*/
h1,h2,h3,h4,h5,h6,address,blockquote,div,p,pre,code,body,dl,dt,dd,ol,ul,li,fieldset,form,input,legend,textarea,body {
    margin:0;
    padding:0;
}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
    display:block;
}
object {
    outline:none;
}

/*
    02 - Structure
*/
html {
    font-size:62.5%; /* Equivalent to 10px if browser default, 16px */
    overflow-y:scroll; /* Force scrollbar */
    -webkit-text-size-adjust:100%; /* Remove iOS text size adjust without disabling user zoom */
    -ms-text-size-adjust:100%;
}
body {
    font:1.5em/1.5 Georgia, serif;
    color:#222;
    background:#fbfbfb;
}
.container {
    padding:0 0.01em;
}
.inner {
    width:auto;
    /* yo, dawg, define yer grid */
    max-width:1600px;
    min-width:260px;
    margin:0 auto;
    padding:2em;
    position:relative;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    border-radius:12px;
}
.article,
.bit,
.work {
    position:relative;
}
.section {
    max-width:500px;
    padding:2em 0 4em;
    margin:0 auto;
}
#navigation {
    padding-top:1em;
}
footer {
    padding-top:2em;
    background:#222;
    color:#eee;
}

/*
    03 - Headings
*/
hgroup {
    text-align:center;
    padding:36px 0 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:'Andale Mono', 'Consolas', monospace;
    font-weight:400;
    color:#4a4a4a;
    line-height:1.2;
    text-transform:uppercase;
}
h1 {
    font-size:1em;
    margin-bottom:0.5em;
    padding-bottom:0.5em;
    text-align:center;
    text-transform:uppercase;
}
h2 {
    font-size:2em;
}
h3 {
    font-size:1.6em;
}
h4 {
    font-size:1.4em;
}
h5 {
    font-size:1.2em;
}
h6 {
    font-size:1em;
    color:#bfbfbf;
    text-transform:uppercase;
}

/*
    04 - Links
*/
a {
    color:#222;
    -webkit-transition:color 0.3s ease;
    -moz-transition:color 0.3s ease;
    -o-transition:color 0.3s ease;
    -ms-transition:color 0.3s ease;
    transition:color 0.3s ease;
}
a:visited {
    color:#606060;
}
a:active {
    background:#222;
    color:#eee;
}
a:focus {
    outline:thin dotted;
}
a:hover,
a:active {
    outline:0;
}
a.white {
    color:#fff;
}
a.black {
    color:#4a4a4a;
    text-decoration:none;
}
a.button {
    display:block;
    width:auto;
    text-align:center;
    background:#eee;
    padding:0.1em 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}
nav a {
    display:block;
    font-family:'Andale Mono', 'Consolas', monospace;
    font-size:1em;
    padding:0 0.5em;
    text-decoration:none;
}

/*
    05 - text
*/
address,
cite,
dfn,
em,
var {
    font-style:italic;
}
b,
strong {
    font-weight:800;
}
abbr[title],
dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
mark {
    background:#ff0;
    color:#000;
}
pre,
code,
kbd,
samp {
    font-family:'Andale Mono', 'Consolas', monospace;
    _font-family:'courier new', monospace;
    font-size:1em;
}
pre {
    white-space:pre;
    white-space:pre-wrap;
    word-wrap:break-word;
    margin-bottom:2em;
    background:#222;
    color:#fff;
    padding:2em;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}
pre code {
    display:block;
    max-width:500px;
    margin:0 auto;
}
blockquote {
    margin:1em 2.5em;
}
q {
    quotes:none;
}
q:before,
q:after {
    content:'';
    content:none;
}
small {
    font-size:75%; /* uses % for relativity */
}
sub,
sup {
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline;
}
sup {
    top:-0.5em;
}
sub {
    bottom:-0.25em;
}
p {
    text-indent:0;
    margin-bottom:2em;
    line-height:2;
    color:#606060;
}
article p,
article ol,
article ul,
article h2,
article h3,
article h4,
article h5,
article h6 {
    display:block;
    margin-left:auto;
    margin-right:auto;
    max-width:500px;
}
.intro, 
.big {
    font-size:1.2em;
}
.serif {
    font-family:'Garamond Pro', serif;
}
#skip {
    background:#eee;
    position:absolute;
    right:3em;
    font-size:0.8em;
    padding:0.4em 1em;
    -webkit-border-radius:0 0 4px 4px;
    -moz-border-radius:0 0 4px 4px;
    border-radius:0 0 4px 4px;
}

/*
    06 - Lists
*/
ol,
ul,
dd {
    color:#606060;
    padding:0 0 1em 1.5em;
    margin:0 0 1em;
}
li {
    margin-bottom:0.5em;
}
article ul {
    padding:0 0 1em 2em;
}
nav ul,
nav ol {
    list-style:none;
    list-style-image:none;
    padding:1em 0;
    margin:0;
    text-align:center;
}
nav li {
    display:inline-block;
    padding:0;
}

/*
    07 - Forms
*/
form {
    margin:0;
}
button,
input,
select,
textarea {
    font-family:sans-serif;
    font-size:100%;
    margin:0;
    vertical-align:baseline;
    *vertical-align:middle;
    line-height:normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor:pointer;
    -webkit-appearance:button;
    *overflow:visible;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing:border-box;
    padding:0;
}
input[type="search"] {
    -webkit-appearance:textfield;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
}
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance:none;
}
textarea {
    overflow:auto;
    vertical-align:top;
}
fieldset {
    border:1px solid #c0c0c0;
    margin:0 2px;
    padding:0.35em 0.625em 0.75em;
}
legend {
    border:0;
    *margin-left:-7px;
}

/*
    08 - Embeds
*/
img {
    border:0;
    vertical-align:top;
    max-width:100%;
    -ms-interpolation-mode:bicubic;
}
svg:not(:root) {
    overflow:hidden;
}
figure {
    margin:0;
}
#wordmark {
    margin:0 auto;
    padding:6em 0 5em;
    border:0;
    /*opacity:0.6;*/
}
.browser_frame {
    position:relative;
    width:auto;
    padding:1em 0.1em 0.2em;
    margin:0 0.85%;
    max-width:48%;
    background:#222;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:0px 2px 12px rgba(0,0,0,0.3);
    -moz-box-shadow:0px 2px 12px rgba(0,0,0,0.3);
    box-shadow:0px 2px 12px rgba(0,0,0,0.3);
}
.browser_frame:before {
    display:block;
    content:"";
    width:0.4em;
    height:0.4em;
    border-radius:999px;
    border:1px solid #eee;
    z-index:1;
    position:absolute;
    top:0.3em;
    left:0.3em;
}
.browser_frame:after {
    display:block;
    content:"";
    width:0.6em;
    height:0.05em;
    border-radius:999px;
    border:1px solid #eee;
    z-index:1;
    position:absolute;
    top:0.5em;
    right:0.3em;
}


/*
    09 - Grid / Reusable
*/
/* throw your grid down! */

/* Animations Here? */
@-webkit-keyframes scale {
    from    { -webkit-transform:scale(0); }
    60%     { -webkit-transform:scale(1.1); }
    90%     { -webkit-transform:scale(1); }
    to      { -webkit-transform:scale(1); }
}
.scale {
    visibility:hidden;
}
.scale.animate {
    visibility:visible;
    -webkit-animation:scale 0.6s;
}

.move { position:absolute; left:-9999px; }
.block { display:block; }
.inline-block { display:inline-block; }
.inline { display:inline; }
.right { float:right !important;}
.left { float:left !important;}
.centre { text-align:center; }
.hidden {display:none;}
hr { clear:both; border:0; }
hr.thick { background:#ccc; height:2empx; width:48%; border-radius:2px; }
/* For modern browsers */
.cf:before,
.cf:after { content:""; display:table; }
.cf:after { clear:both; }
/* For IE 6/7 (trigger hasLayout) */
.cf { zoom:1; }

/*
    10 - Media Queries
*/
@media only screen and (min-width: 780px) {
}
@media only screen and (min-width: 1320px) {
}

/* Print Styles (www.phpied.com/delay-loading-your-print-css/) */
@media print {
    * { background:transparent !important; color:#1a1a1a !important; text-shadow:none; }
    a, a:visited { color:#1a1a1a !important; text-decoration:underline; }
    a:after { content:" (" attr(href) ")"; }
    abbr:after { content:" (" attr(title) ")"; }&nbsp;&nbsp;&nbsp;&nbsp;.ir a:after { content:""; } &nbsp;/* Don't show links for images */&nbsp;&nbsp;&nbsp;&nbsp;pre, blockquote { border:1px solid #999; page-break-inside:avoid; }&nbsp;&nbsp;&nbsp;&nbsp;img { page-break-inside:avoid; }
    @page { margin:0.5cm; }
    p, h2, h3 { orphans:3; widows:3; }
    h2, h3{ page-break-after:avoid; }
}