/*
    main-180.css

    organization based on:
     http://developers.whatwg.org/content-models.html

    01 - Reset
    02 - Structure
    03 - Headings
    04 - Links
    05 - Text
    06 - Lists
    07 - Forms
    08 - Embeds
    09 - Grid / Reusable
    10 - Media Queries
*/

/*
    01 - Reset
*/
h1,h2,h3,h4,h5,h6,address,blockquote,div,p,pre,code,body,dl,dt,dd,ol,ul,li,fieldset,form,input,legend,textarea,body {
    margin:0;
    padding:0;
}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
    display:block;
}
object {
    outline:none;
}

/*
    02 - Structure
*/
html {
    overflow-y:scroll; /* Force scrollbar */
    -webkit-text-size-adjust:100%; /* Remove iOS text size adjust without disabling user zoom */
    -ms-text-size-adjust:100%;
}
body {
    font:400 15px/1.4 'Open Sans', sans-serif;
    color:#222;
    background:#ebefea; /* AFECB5 */
background: -moz-linear-gradient(top,  #ebefea 0%, #cface5 200%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebefea), color-stop(200%,#cface5));
background: -webkit-linear-gradient(top,  #ebefea 0%,#cface5 200%);
background: -o-linear-gradient(top,  #ebefea 0%,#cface5 200%);
background: -ms-linear-gradient(top,  #ebefea 0%,#cface5 200%);
background: linear-gradient(top,  #ebefea 0%,#cface5 200%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebefea', endColorstr='#cface5',GradientType=0 );
}
.container {
    padding:0 20px;
}
.inner {
    width:auto;
    /* yo, dawg, define yer grid */
    max-width:1020px;
    min-width:260px;
    margin:0 auto;
    position:relative;
}
#intro {
    position:relative;
    z-index:11;
    margin-top:420px;
}
footer {
    margin:100px 0 160px 0;
}

/*
    03 - Headings
*/
hgroup {
    padding:20px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:'Open Sans', sans-serif;
    font-weight:800;
    color:#222;
    line-height:1.4;
}
h1 {
    font-weight:800;
    font-size:24px;
    text-transform:uppercase;
    margin-bottom:15px;
}
h2 {
    font-size:18px;
    margin-bottom:20px;
}
h3 {
    font-size:24px;
    margin-bottom:20px;
}
h4 {
    font-size:16px;
    margin-bottom:10px;
}
h5 {
    font-size:16px;
}
h6 {
    font-size:14px;
    color:#bfbfbf;
    text-transform:uppercase;
}
#wordmark {
    padding:40px 0;
}

/*
    04 - Links
*/
a {
    color:#000;
    border-bottom:2px solid rgba(0,0,0,0.1);
    text-decoration:none;
}
a:visited {
    color:#000;
}
a:active {
    color:#fff;
}
a:focus {
    outline:thin dotted;
}
a:hover,
a:active {
    outline:0;
    color:#fff;
    border-color:rgba(255,255,255,0.4);
}
a.nostyle {
    text-decoration:none;
    text-transform:uppercase;
    border:0;
}
#navigation a {
    text-decoration:none;
    text-transform:uppercase;
    font-weight:800;
    font-size:14px;
    padding:4px 0px 2px;
    color:#4a4a4a;
    border:0;
}
#navigation a:hover {
    color:#fff;
}
.button {
    position:relative;
    padding:4px 6px 2px;
    margin-top:-3px;
    background:#fff;
    color:#f44 !important;
    font-size:12px;
    font-weight:800;
    text-transform:uppercase;
    border-bottom:3px solid rgba(50,50,50,0.1);
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:0px 2px 12px rgba(0,0,0,0.1);
    -moz-box-shadow:0px 2px 12px rgba(0,0,0,0.1);
    box-shadow:0px 2px 12px rgba(0,0,0,0.1);
}
.button:hover {
    background:#f44;
    color:#fff !important;
    border-color:rgba(0,0,0,0.1);
}
.button:active {
    top:2px;
    border-width:0 0 1px;
    border-color:rgba(50,50,50,0.1);
    -webkit-box-shadow:0px 0px 0px #000;
    -moz-box-shadow:0px 0px 0px #000;
    box-shadow:0px 0px 0px #000;
}

/*
    05 - text
*/
address,
cite,
dfn,
em,
var {
    font-style:italic;
}
b,
strong {
    font-weight:800;
}
abbr[title],
dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
mark {
    background:#ff0;
    color:#000;
}
pre,
code,
kbd,
samp {
    font-family:'Andale Mono', 'Consolas', monospace;
    _font-family:'courier new', monospace;
    font-size:1em;
}
pre {
    white-space:pre;
    white-space:pre-wrap;
    word-wrap:break-word;
    margin-bottom:2em;
    background:#333;
    border-bottom:1px solid rgba(255,255,255,0.9);
    color:#fff;
    padding:2em;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}
pre code {
    display:block;
    max-width:500px;
    margin:0 auto;
}
.gist pre {
    color:#000;
}
blockquote {
    margin:1em 2.5em;
}
q {
    quotes:none;
}
q:before,
q:after {
    content:'';
    content:none;
}
small {
    font-size:75%; /* uses % for relativity */
}
sub,
sup {
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline;
}
sup {
    top:-0.5em;
}
sub {
    bottom:-0.25em;
}
p {
    text-indent:0;
    margin-bottom:20px;
    line-height:1.6;

}
.intro, 
.big {
    font:300 24px 'Open Sans', sans-serif;
    line-height:1.5;
    color:#4a4a4a;
}
.big.ger {
    font-size:24px;
}
.serif {
    font-family:'Garamond Pro', Garamond, Georgia, serif;
}
.serif.big {
    font-size:24px;
    line-height:0;
}
.meta {
    color:rgba(0,0,0,0.5);
    font-style:italic;
}
article .meta {
    padding-top:10px;
}

/*
    06 - Lists
*/
ol,
ul,
dd {
    color:#606060;
    padding:0 0 20px 30px;
    margin:0 0 20px;
}
li {
    margin-bottom:10px;
}
article ul {
    padding:0 0 20px 40px;
}
nav ul,
nav ol {
    list-style:none;
    list-style-image:none;
    margin:0;
    padding:0;
}
nav li {
    padding:0;
    margin:0 0 3px;
}
nav li.current::before {
    margin-left:-15px;
    content:"\2014";
}

/*
    07 - Forms
*/
form {
    margin:0;
}
button,
input,
select,
textarea {
    font-family:sans-serif;
    font-size:100%;
    margin:0;
    vertical-align:baseline;
    *vertical-align:middle;
    line-height:normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor:pointer;
    -webkit-appearance:button;
    *overflow:visible;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing:border-box;
    padding:0;
}
input[type="search"] {
    -webkit-appearance:textfield;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
}
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance:none;
}
textarea {
    overflow:auto;
    vertical-align:top;
}
fieldset {
    border:1px solid #c0c0c0;
    margin:0 2px;
    padding:0.35em 0.625em 0.75em;
}
legend {
    border:0;
    *margin-left:-7px;
}

/*
    08 - Embeds
*/
img {
    border:0;
    vertical-align:top;
    max-width:100%;
    -ms-interpolation-mode:bicubic;
    transition:opacity 0.3s ease;
    -webkit-transition:opacity 0.3s ease;
    -moz-transition:opacity 0.3s ease;
    -o-transition:opacity 0.3s ease;
}
svg:not(:root) {
    overflow:hidden;
}
figure {
    margin:0;
}
iframe {
    margin-bottom:40px;
}
.browser_frame {
    position:relative;
    overflow:hidden;
    width:auto;
    padding:1em 0.1em 0.2em;
    margin:0 0.85%;
    background:#eee;
    border:1px solid rgba(0,0,0,0.4);
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:0px 2px 12px rgba(0,0,0,0.1);
    -moz-box-shadow:0px 2px 12px rgba(0,0,0,0.1);
    box-shadow:0px 2px 12px rgba(0,0,0,0.1);
}
.browser_frame:before {
    display:block;
    content:"";
    width:0.4em;
    height:0.4em;
    border-radius:999px;
    border:1px solid rgba(0,0,0,0.4);
    z-index:1;
    position:absolute;
    top:0.3em;
    left:0.3em;
}
.browser_frame:after {
    display:block;
    content:"";
    width:0.6em;
    height:0.05em;
    border-radius:999px;
    border:1px solid rgba(0,0,0,0.4);
    z-index:1;
    position:absolute;
    top:0.5em;
    right:0.3em;
}
.thumb {
    position:relative;
}
.neato .thumb {
    position:absolute;
    z-index:1;
}
.neato .thumb + .thumb {
    left:25%;
    top:-5%;
    z-index:3;
}
.neato .thumb + .thumb + .thumb {
    left:50%;
    top:-2%;
    z-index:2;
}
.thumb .browser_frame {
    max-height:354px;
    margin-bottom:40px;
}
.thumb header {
    position:absolute;
    top:170px;
    width:100%;
    margin:0;
    z-index:1;
    display:none;
}
.thumb:hover header {
    display:block;
}
.thumb:hover img {
    opacity:0.2;
}
.thumb:hover header h1 {
    visibility:visible;
    -webkit-animation:scale 0.6s;
}


/*
    09 - Grid / Reusable
*/
.border { border-top:2px solid rgba(0,0,0,0.1); padding-top:10px; }
.spacing { margin-top:40px;margin-bottom:80px; }
/* Animations Here? */
@-webkit-keyframes scale {
    from    { -webkit-transform:scale(0); }
    60%     { -webkit-transform:scale(1.1); }
    90%     { -webkit-transform:scale(1); }
    to      { -webkit-transform:scale(1); }
}
.scale,
.invisible {
    visibility:hidden;
}
.scale.animate {
    visibility:visible;
    -webkit-animation:scale 0.6s;
}

.move { position:absolute; left:-9999px; }
.block { display:block; }
.inline-block { display:inline-block; }
.inline { display:inline; }
.centre { text-align:center; }
.tright { text-align:right; }
.hidden {display:none;}
hr { clear:both; border:0; }
header hr { height:0; border:2px solid #4a4a4a; margin:1% 20% 5%; }
/* For modern browsers */
.cf:before,
.cf:after { content:""; display:table; }
.cf:after { clear:both; }
/* For IE 6/7 (trigger hasLayout) */
.cf { zoom:1; }

/*
    10 - Media Queries
*/
@media only screen and (min-width: 680px) {
    .col1, .col2, .col3, .col4, .col5, .col6, 
    .col7, .col8,.col9, .col10, .col11 {
        margin-right:3.8%;
        float:left;
        min-height:1px;
    }
    .col1 { width:4.85%; }
    .col2 {width:13.45%;}
    .col3 {width:22.05%;}
    .col4 {width:30.75%;}
    .col5 {width:39.45%;}
    .col6 {width:48%;}
    .col7 {width:56.75%;}
    .col8 {width:65.4%;}
    .col9 {width:74.05%;}
    .col10 {width:82.7%;}
    .col11 {width:91.35%;}
    .col12 {width:100%;}
    .last {margin-right:0px;}

    .skip1 {padding-left:8.65%;}
    .skip2 {padding-left:17.25%;}
    .skip3 {padding-left:25.85%;}
    .skip4 {padding-left:34.55%;}

    .right { float:right !important;}
    .left { float:left !important;}
}
@media only screen and (min-width: 1320px) {
}

/* Print Styles (www.phpied.com/delay-loading-your-print-css/) */
@media print {
    * { background:transparent !important; color:#1a1a1a !important; text-shadow:none; }
    a, a:visited { color:#1a1a1a !important; text-decoration:underline; }
    a:after { content:" (" attr(href) ")"; }
    abbr:after { content:" (" attr(title) ")"; }&nbsp;&nbsp;&nbsp;&nbsp;.ir a:after { content:""; } &nbsp;/* Don't show links for images */&nbsp;&nbsp;&nbsp;&nbsp;pre, blockquote { border:1px solid #999; page-break-inside:avoid; }&nbsp;&nbsp;&nbsp;&nbsp;img { page-break-inside:avoid; }
    @page { margin:0.5cm; }
    p, h2, h3 { orphans:3; widows:3; }
    h2, h3{ page-break-after:avoid; }
}