:root {
  --sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --serif: times, serif;

  --white: #FAFAFA;
  --black: #0A0A0A;

  --offwhite: #E7E7E7;

  --grey: #d7d2bf;
  --grey-transparent: #d7d2bfaa;
  --grey-dark: #413D44;
  --grey-dark-transparent: #413D44aa;

  --primary: #D6F500;
  --primary-transparent: #D6F500cc;

  --green: #4f7d01;
  --green-transparent: #4f7d01cc;

  --blue: #01267d;
  --red: #C74938;
  --red-transparent: #C74938aa;

  --gutter: 16px;
  --gutter2: 64px;
}

body {
  background-color: var(--white);
  color: var(--black);
  font-family: var(--sans);
  font-size: 16px;
  height: 100%;
  margin: 0;
  transition: background-color 1s ease-in-out;
}

h1 {
  font-family: var(--sans);
  font-size: 5vw;
  font-weight: 700;
  letter-spacing: -0.25vw;
  line-height: 1;
  text-transform: uppercase;
  transform: scaleY(1.6);
}

h2,
h3,
h4,
h5 {
  color: var(--black);
  font-family: var(--sans);
  font-size: 3.3vw;
  font-weight: 700;
  line-height: 3.2vw;
}

h3 {
  font-size: 2vw;
  line-height: 2.5vw;
}

h4 {
  font-size: 1.4vw;
  line-height: 2.15vw;
}

h5 {
  font-size: 1.2vw;
  font-weight: 400;
  line-height: 2vw;
  text-transform: uppercase;
}

p {
  color: var(--black);
  font-family: var(--sans);
  font-size: 1.2vw;
  font-weight: 400;
  line-height: 2vw;
  margin-top: 0;
}

a:link {
  color: var(--black);
}

a:visited {
  color: var(--black);
}

article a:visited {
  color: var(--grey-dark);
}

nav a {
  color: var(--black);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.95rem;

  &:hover {
    text-decoration: underline;
  }
}

nav a + a {
  margin-left: var(--gutter);
}

h1 a{ 
  text-decoration: none;
}


/*
  Layout
*/
section {
  display: flex;

  & > *:first-child:last-child {
    width: 100%;
  }

  & > *:first-child,
  & > *:last-child {
    width: 50%;
  }
}

header,
footer,
article {
  margin: var(--gutter);
}

footer {
  min-height: 20vh;
  scroll-snap-align: end;
}

article {
  margin-right: 10vw;

  & > p:first-child {
    font-size: 2vw;
    line-height: 1.5;
  }
}

img {
  max-width: 100%;
}

figure {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;

  & img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &.contain img {
    object-fit: contain;
    max-width: 70vw;
    object-position: center;
    display: block;
    margin: 0 auto;
  }

  h1 {
    padding: 0;
    margin: 0;
    z-index: 22;
    position: absolute;
    bottom: 6vh;
    font-size: 2.75vh;
    width: 100%;
    text-align: center;
    letter-spacing: -1px;
  }

  p {
    font-size: 2vw;
  }
}

/*
  Classes
*/
.f-center {
  display: flex;
  flex-direction: column;
  justify-content: center;

  & > * {
    align-self: center;
    text-align: center;
  }
}

.f-end {
  display: flex;
  justify-content: flex-end;

  & > * {
    align-self: flex-end;
  }
}

.display {
  font-size: 2vw;
  line-height: 1.4;
  padding: 0 5vw;
  margin: 0 auto;
}

.pt {
  padding-top: var(--gutter2);
}

.break {
  word-spacing: 100vw;
}

/*
  Photography viewport styles
*/
.photography header {
  z-index: 33;
  position: absolute;
  top: 0;
  width: calc(100% - 32px);
}

.photography main {
  max-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: proximity;
  scroll-snap-type: y proximity;
}

.photography main > section {
  height: 100vh;
  min-height: 100%;
  max-height: 100%;
  position: relative;
  overflow: hidden;
  scroll-snap-align: start;
}


/*
  Page specific
*/
#ecstasy {
  background-color: #aaa;
}

#sebastion {
  background-color: #f3f8ff;

  h1,
  a,
  p {
    color: #7c8ea8ab;
  }
}

#july-town {
  background-color: #D0DBD7;

  h1 a {
    color: #C74938;
  }
}

#picos {
}

#noir {
  background-color: var(--offwhite);
}

#paris {
  background-color: #f3e7bd;

  h1,
  p,
  a {
    color: #2f425c;
  }
}

#waves {
  background-color: #f9f3e1;

  h1 a {
    color: #ffffffaa;
  }
}

#maui {
  background-color: #83A1B4;

  h1,
  p,
  a {
    color: #FBCBC1;
  }
}

#shinrinyoku {
  background-color: #433C06;

  h1,
  h2,
  p,
  a {
    color: #F2CB6C;
  }

  h2 {
    margin: 0;
    font-size: 4em;
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  }
}
