body {
  height: 100%;
  font-family: -apple-system, Helvetica Neue, Helvetica, sans-serif;
  font-size: 15px;
  background-color: #fefefe;
  padding: 1vh;
  margin: 0;
}

a {
  color: black;
}

a:hover {
  color: #60752d;
}

a > h5 {
  font-size: 1em;
  font-weight: 400;
}

a.back {
  font-family: 'consolas', 'monaco', monospace;
  text-decoration: none;
  font-size: 3em;
}

/* Layout */

.container {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}

.wrap {
  flex-wrap: wrap;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right > a,
.center > a {
  display: block;
}

.right > img,
.center > img {
  margin-bottom: 0.5vh;
}

.container > img {
  margin-right: 0.25vh;
  margin-bottom: 0.5vh;
}

.container > img + img {
  margin-left: 0.25vh;
  margin-right: 0;
  margin-bottom: 0.5vh;
}

.content {
  width: 70%;
}

.content.spaced img {
  max-width: 100%;
  max-height: 98vh;
  margin-bottom: 10vh;
}

.content.spaced div:not(.container):last-child img {
  margin-bottom: 0;
}

.content h5 {
  margin: 0 0 10vh;
}

.content .text {
  width: 100%;
}

.content .container {
  justify-content: space-between;
}

.grid {
  max-width: 1080px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2vh 6vh;
}

/* Navigation */

.aside {
  position: fixed;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aside > .body {
  margin: 0 2vh 1vh 0;
}

nav {
  flex-basis: 60%;
  padding-left: 2em;
}

nav > a {
  display: block;
  color: black;
  text-decoration: none;
  font-size: 2.4em;
  padding: 0.1em 0;
}

nav > a:hover {
  color: inherit;
}

nav > a.current {
  color: #60752d;
}

footer {
  padding: 0 0 2em 2em;
}

/* Typography */

.wordmark {
  display: block;
  text-decoration: underline;
  font-size: 3em;
  font-weight: 400;
  margin-top: -0.2em;
  margin-bottom: 4rem;
  transform: rotate(-10deg);
}

.pagetitle {
  font-weight: 400;
}

.aside .title h1 {
  font-size: 2.25em;
  font-weight: 400;
}

.text > p {
  font-size: 2em;
}

p.big {
  font-size: 1.5em;
}

p.bigger {
  font-size: 2.25em;
}

/* Page specific */

#picos,
#picos .container {
  background-color: #F1E0D0;
}

#picos h2 {
  font-size: 2.25em;
  font-weight: 400;
}

#noir,
#noir .container {
  background-color: white;
}

#noir h1 {
  font-size: 8em;
  line-height: .8;
  max-width: 800px;
  margin: 0;
}

#paris,
#paris .container {
  background-color: #f3e7bd;
}

#paris h1 {
  color: #2f425c;
  font-size: 8em;
  line-height: .8;
  max-width: 800px;
  margin: 0;
}
#paris .body p {
  color: #2f425c;
}

#waves,
#waves .container {
  background-color: #f9f3e1;
}

#black,
#black .container {
  background-color: #666;
}

#maui,
#maui .container {
  background-color: #f7f9ff;
}

#shinrinyoku,
#shinrinyoku .container {
  background-color: #283725;
}

#shinrinyoku h1 {
  color: #F8F4F4;
  font-size: 6em;
  line-height: .8;
  max-width: 800px;
  margin: 0;
}

#shinrinyoku h2 {
  margin: 0;
  color: #F8F4F4;
  font-size: 5em;
  font-weight: 600;
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

#shinrinyoku p {
  color: #F8F4F4;
}

#shinrinyoku .book p {
  max-width: 80%;
}

#shinrinyoku a {
  color: #F8F4F4;
}

#shinrinyoku .grid:last-child {
  padding-bottom: 4rem;
}
