body {
  height: 100%;
  font-family: "Verdana", sans-serif;
  font-size: 16px;
  background-color: #fefcfa;
  padding: 1vh;
  margin: 0;
}

a {
  color: black;
}

a:hover {
  color: DarkOliveGreen;
}

a > h5 {
  font-size: 1em;
  font-weight: 400;
  margin: 0 0 10vh;
}

a.back {
  font-family: 'consolas', 'monaco', monospace;
  text-decoration: none;
  font-size: 3em;
}

/* Layout */

.container {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}

.content {
  width: 70%;
}

.content img {
  max-width: 100%;
  max-height: 98vh;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right > a,
.center > a {
  display: block;
}

.right > img {
  margin-bottom: 0.5vh;
}

.container > img {
  margin-right: 0.25vh;
  margin-bottom: 0.5vh;
}

.container > img + img {
  margin-left: 0.25vh;
  margin-right: 0;
  margin-bottom: 0.5vh;
}

/* Navigation */

.aside {
  position: fixed;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aside > .body {
  margin: 0 2vh 1vh 0;
}

nav {
  flex-basis: 60%;
  padding-left: 2em;
}

nav > a {
  display: block;
  color: black;
  text-decoration: none;
  font-size: 1.6em;
  padding: 0.1em 0;
}

nav > a:hover {
  color: inherit;
}

nav > a.current {
  color: DarkOliveGreen;
}

footer {
  padding: 0 0 2em 2em;
}

/* Typography */

.wordmark {
  display: block;
  text-decoration: underline;
  font-size: 2em;
  font-weight: 400;
  margin-top: -0.2em;
  margin-bottom: 4rem;
  transform: rotate(-10deg);
}

.text > p {
  font-size: 2em;
}

p.big {
  font-size: 1.5em;
}

/* Page specific */

#maui,
#maui .container {
  background-color: #f7f9ff;
}

#shinrinyoku,
#shinrinyoku .container {
  background-color: #E2C785;
}

#shinrinyoku h1 {
  color: #F8F4F4;
  font-size: 6em;
  line-height: .8;
  max-width: 800px;
  margin: 0;
}

#shinrinyoku h2 {
  margin: 0;
  color: #F8F4F4;
  font-size: 5em;
  font-weight: 600;
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

#shinrinyoku p {
  color: #F8F4F4;
}

#shinrinyoku .book p {
  max-width: 80%;
}

#shinrinyoku a {
  color: #F8F4F4;
}

#shinrinyoku .grid:last-child {
  padding-bottom: 4rem;
}
