body {
  height: 100%;
  font-family: -apple-system, Helvetica Neue, Helvetica, sans-serif;
  font-size: 15px;
  background-color: #e6b65a;
  color: #245744;
  padding: 1vh;
  margin: 0;
  transition: background-color 1s ease-in-out;
}

a {
  color: #245744;
}

a:hover {
  color: #ea4e25;
}

a > h5 {
  font-size: 1em;
  font-weight: 400;
}

a.back {
  font-family: 'consolas', 'monaco', monospace;
  text-decoration: none;
  font-size: 3em;
}

/* Layout */

#site {
  transition: opacity 1s ease-in-out;
}

.fadeout {
  opacity: 0;
}

.container {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}

.wrap {
  flex-wrap: wrap;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right > a,
.center > a {
  display: block;
}

.right > img,
.center > img {
  margin-bottom: 0.5vh;
}

.container > img {
  margin-right: 0.25vh;
  margin-bottom: 0.5vh;
}

.container > img + img {
  margin-left: 0.25vh;
  margin-right: 0;
  margin-bottom: 0.5vh;
}

.content img {
  max-width: 100%;
  max-height: 98vh;
}

.content.spaced img {
  max-width: 100%;
  max-height: 98vh;
  margin-bottom: 10vh;
}

.content.spaced div:not(.container):last-child img {
  margin-bottom: 0;
}

.content h5 {
  margin: 0 0 10vh;
}

.content .text {
  width: 100%;
  max-width: 600px;
}

.content .container {
  justify-content: space-around;
}

.grid {
  max-width: 1080px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2vh 6vh;
}

img {
  transition: opacity 1s ease-in-out;
}

img.notinview {
  opacity: 0.1;
}

img.fadein {
  opacity: 1;
}

/* Navigation */

.aside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.aside > .title {
  flex-basis: 60%;
}

.aside > .body {
  margin-right: 2em;
}

nav {
  flex-basis: 60%;
  padding-left: 2em;
  padding-bottom: 1em;
}

nav > a {
  display: block;
  color: #245744;
  text-decoration: none;
  font-size: 2.4em;
  padding: 0.1em 0;
}

nav > a:hover {
  color: inherit;
}

nav > a.current {
  color: #ea4e25;
}

footer {
  padding: 0 0 2em 2em;
}

/* Typography */

.wordmark {
  display: block;
  flex-basis: 40%;
  text-decoration: underline;
  font-size: 3em;
  font-weight: 400;
  margin-top: -0.2em;
  margin-bottom: 4rem;
  transform: rotate(-10deg);
}

.pagetitle {
  font-weight: 400;
}

.aside .title h1 {
  font-size: 2.25em;
  font-weight: 400;
}

.text > p {
  font-size: 2em;
}

p.big {
  font-size: 1.5em;
}

p.bigger {
  font-size: 2.25em;
  margin: 0.7em 0;
}

/* Animation */

.scale-up {
  opacity: 0;
  transform: scale(0.9);
  animation: scaleUp .5s ease both;
}

@keyframes scaleUp {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}

.scale-down {
  animation: scaleDown .7s ease both;
}

@keyframes scaleDown {
  from { }
  to { opacity: 0; transform: scale(.8); }
}

@media screen and (max-width: 414px) {
  .aside {
    flex-wrap: wrap;
  }
  .aside nav {
    flex: 1;
  }
  .aside .back {
    margin-top: 0.2em;
  }
  .aside .body {
    flex: 1;
  }
}

/* Page specific */

#picos,
#picos .container {
  background-color: #F1E0D0;
}

#picos h2 {
  font-size: 2.25em;
  font-weight: 400;
}

#noir,
#noir .container {
  background-color: #fff;
}

#noir h1,
#noir .body p,
#noir a {
  color: black;
}

#paris,
#paris .container {
  background-color: #f3e7bd;
}

#paris h1,
#paris .body p,
#paris a {
  color: #2f425c;
}

#waves,
#waves .container {
  background-color: #f9f3e1;
}

#black,
#black .container {
  background-color: #666;
}
#black h1,
#black .body p,
#black a {
  color: #000;
}

#maui,
#maui .container {
  background-color: #f7f9ff;
}

#shinrinyoku,
#shinrinyoku .container {
  background-color: #283725;
}

#shinrinyoku h1 {
  color: #F8F4F4;
}

#shinrinyoku h2 {
  margin: 0;
  font-size: 4em;
  color: #F8F4F4;
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

#shinrinyoku p {
  color: #F8F4F4;
}

#shinrinyoku a {
  color: #F8F4F4;
}
