@font-face {
  font-family: 'GeneralSans-Variable';
  src: url('./fonts/GeneralSans-Variable.woff2') format('woff2'),
       url('./fonts/GeneralSans-Variable.woff') format('woff'),
       url('./fonts/GeneralSans-Variable.ttf') format('truetype');
       font-weight: 200 700;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'GeneralSans-Variable';
  src: url('./fonts/GeneralSans-VariableItalic.woff2') format('woff2'),
       url('./fonts/GeneralSans-VariableItalic.woff') format('woff'),
       url('./fonts/GeneralSans-VariableItalic.ttf') format('truetype');
       font-weight: 200 700;
       font-display: swap;
       font-style: italic;
}


:root {
  --sans: 'GeneralSans-Variable', Helvetica, Arial, sans-serif;
  --serif: times, serif;
  --body: 'Liberation Sans', Arial, sans-serif;

  --white: #FAFAFA;
  --black: #0A0A0A;

  --offwhite: #E7E7E7;

  --grey: #d7d2bf;
  --grey-transparent: #d7d2bfaa;
  --grey-dark: #413D44;
  --grey-dark-transparent: #413D44aa;

  --primary: #D6F500;
  --primary-transparent: #D6F500cc;

  --green: #4f7d01;
  --green-transparent: #4f7d01cc;

  --blue: #01267d;
  --red: #C74938;
  --red-transparent: #C74938aa;

  --gutter: 1em;
  --gutter2: 2em;
  --gutter3: 3em;
  --gutter4: 4em;
}

body {
  background-color: var(--white);
  color: var(--black);
  font-family: var(--sans);
  font-size: 20px;
  height: 100%;
  margin: 0;
  transition: background-color 1s ease-in-out;
}

h1,
.h1 {
  font-family: var(--sans);
  font-size: 5em;
  font-weight: 500;
  line-height: 1;
  margin: 0;

  filter: blur(0px);
  animation: blur 0.65s ease-in-out;
  animation-iteration-count: 1;
}

.h2,
h2,
h3,
h4,
h5 {
  color: var(--black);
  font-family: var(--sans);
  font-size: 2em;
  font-weight: 500;
  line-height: 1.4;
}

h3 {
  font-size: 2vw;
  line-height: 2.5vw;
}

h4 {
  font-size: 1.4vw;
  line-height: 2.15vw;
}

h5 {
  font-size: 1em;
  font-weight: 400;
  line-height: 2vw;
  text-transform: uppercase;
}

p {
  color: var(--black);
  font-family: var(--sans);
  font-size: 1.25em;
  font-weight: 400;
  line-height: 2vw;
  margin-top: 0;

  @media (max-width: 720px) {
    font-size: 1em;
  }
}

a:link {
  color: var(--black);
}

a:visited {
  color: var(--black);
}

article a:visited {
  color: var(--grey-dark);
}

article p {
  font-family: var(--body);
}

nav a {
  color: var(--black);
  text-decoration: none;
  text-transform: uppercase;

  animation: blur 0.65s ease-in-out;
  animation-iteration-count: 1;

  &:hover {
    text-decoration: underline;
  }
}

nav a + a {
  margin-left: var(--gutter);
}

h1 a { 
  text-decoration: none;
}

.normal {
  padding: 0;
  margin: 0;

  a,
  a:visited {
    color: var(--black);
    text-decoration: none;  
  }
}

blockquote {
  padding: 0;
  margin: 0;
  max-width: 80%;
  font-family: var(--sans);

  p {
    font-family: var(--sans);
    font-weight: 300;
    font-style: italic;
    font-size: 2.2em;
  }
}

postamble {
  --size: 200px;

  display: block;
  margin-top: 15px;

  a,
  a:visited,
  span {

    font-weight: 500;
    font-size: 0.85em;
    color: var(--black);
    text-decoration: none;

    padding: 0.5em 1em;
    margin: 0.25em;
    border-radius: var(--size);
    border: none;
    outline: none;
    background: var(--offwhite);
    cursor: pointer;

    &:hover {
      background-color: var(--primary);
    }
  }
}

/*
  Layout
*/
article {
  & > div,
  & > blockquote {
    padding: var(--gutter) var(--gutter2) var(--gutter) var(--gutter);
  }

  &:last-child:not(:first-child) > div {
    padding-left: 0;
  }

/*  p {
    font-size: 1.15em;
    line-height: 1.4;
  }*/
}

section {
  display: flex;

  @media (max-width: 720px) {
    display: block;
  }

  &.alt {
    flex-direction: row-reverse;
  }

  & > *:first-child:last-child {
    width: 100%;
  }

  & > *:first-child,
  & > *:last-child {
    width: 50%;

    @media (max-width: 720px) { 
      width: 100%;
      height: 100%;
    }
  }
}

header,
footer {
  margin: var(--gutter);
  font-weight: 600;
  font-size: 0.85em;
  text-transform: uppercase;
}

footer {
  min-height: 20vh;
  scroll-snap-align: end;

  @media (max-width: 720px) {
    & section > * {
      margin-bottom: var(--gutter);
    }
  }  
}

img {
  max-width: 100%;
}

figure {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;

  & img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &.contain img {
    object-fit: contain;
    max-width: 70vw;
    object-position: center;
    display: block;
    margin: 0 auto;

    @media (max-width: 720px) {
      max-width: 100vw;
    }
  }

  h1 {
    padding: 0;
    margin: 0;
    z-index: 22;
    position: absolute;
    bottom: 6vh;
    font-size: 2.75vh;
    width: 100%;
    text-align: center;
    letter-spacing: -1px;
  }

  p {
    font-size: 1.5em;
    line-height: 1.5;
  }
}

/*
  Classes
*/
.f-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  & > * {
    align-self: flex-start;
  }
}

.f-center {
  display: flex;
  flex-direction: column;
  justify-content: center;

  & > * {
    align-self: center;
    text-align: center;
  }
}

.f-between {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.f-end {
  display: flex;
  justify-content: flex-end;

  & > * {
    align-self: flex-end;
  }
}

.f-end-start {
  display: flex;
  flex-direction: column;
  justify-content: end;

  & > * {
    align-self: start;
  }
}

.display {
  font-size: 2em;
  line-height: 1.4;
  padding: 0 var(--gutter);
  margin: 1em auto;

  @media (max-width: 720px) {
    font-size: 2em;
  }

  & + p {
    padding: 0 var(--gutter);
  }
}

.pt {
  padding-top: var(--gutter);
}

.pt2 {
  padding-top: var(--gutter4);
}

.w-3-4 {
  max-width: 75%;
  margin-left: auto;
}

.spaced {
  margin-top: 30vh;
}

.break {
  word-spacing: 100vw;
}

.no-mobile {
  @media (max-width: 720px) {
    display: none !important;
  }
}

.blur {
  filter: blur(0px);
  animation: blur 0.65s ease-in-out;
  animation-iteration-count: 1;
}


/*
  Photography viewport styles
*/
.viewport header {
  z-index: 33;
  position: absolute;
  top: 0;
  width: calc(100% - 32px);
}

.viewport main {
  max-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: proximity;
  scroll-snap-type: y proximity;
}

.viewport main > section {
  height: 100vh;
  min-height: 100%;
  max-height: 100%;
  position: relative;
  overflow: hidden;
  scroll-snap-align: start;

  @media (max-width: 720px) {
    overflow: visible;
    max-height: auto;
    height: auto;
    scroll-snap-align: none;

    & > *:not(img) {
      height: 100vh;
      scroll-snap-align: start;
      display: flex;

      & img {
        align-self: flex-end;
      }
    }
  }
}


/*
  Page specific
*/

.text {
  article p:first-child {
    text-indent: 5em;
  }
}
#intro {
  .bg {
    align-items: center;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    background-color: #E4E4D8;

    .circle {
      overflow: hidden;
      width: 43vw;
      height: 43vw;
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      box-shadow: inset 8px 4px 72px #fff261, inset -24px -24px 49px #e6ff29, inset 36px 36px 128px #f4d8b3;
      transform: translate(-50%, -50%);
      animation: cycle-circle 10s ease infinite alternate;
    }
  }
}

#about #intro {
  .bg {
    background-color: #BD8B2C;
  }
}

#now #intro {
  .bg {
    background-color: #8FC5E5;
  }
}

#colophon #intro {
  .bg {
    background-color: #E5C6C9;
  }
}

#blog #intro {
  .bg {
    background-color: #BBA38E;
  }
}


@keyframes cycle-circle {
  0% {
    transform: translate(-50%, -50%);
    rotate: 0deg;
    filter: blur(0) hue-rotate(10deg);
  }
  70% {
    filter: blur(15px) hue-rotate(20deg);
  }
  100% {
    transform: rotate(360deg) translate(-50%, -50%);
    filter: blur(5px) hue-rotate(40deg);
  }
}

@keyframes blur {
  0% {
    filter: blur(10px);
  }
  70% {
    filter: blur(1px);
  }
  100% {
    filter: blur(0px);
  }
}

#ecstasy {
  background-color: #aaa;
}

#sebastion {
  background-color: #f3f8ff;

  h1,
  a,
  p,
  div,
  time {
    color: #7c8ea8ab;
  }
}

#july-town {
  background-color: #D0DBD7;

  h1,
  a,
  p,
  div,
  time {
    color: #C74938;
  }
}

#picos {
}

#noir {
  background-color: var(--offwhite);
}

#paris {
  background-color: #f3e7bd;

  h1,
  a,
  p,
  div,
  time {
    color: #2f425c;
  }
}

#waves {
  background-color: #f9f3e1;

  h1 a {
    color: #ffffffaa;
  }
}

#maui {
  background-color: #83A1B4;

  h1,
  a,
  p,
  div,
  time {
    color: #FBCBC1;
  }
}

#shinrinyoku {
  background-color: #433C06;

  h1,
  h2,
  a,
  p,
  div,
  time {
    color: #F2CB6C;
  }

  h2 {
    margin: 0;
    font-size: 4em;
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  }
}
