:root {
  --global-font-size: 19px;
  --global-font-color: #1a1a1a;
  --global-padding: 2vw;
  --global-columns: 3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-family: "Verdana", sans-serif;
  font-size: var(--global-font-size);
  line-height: 1.4;
  color: var(--global-font-size);
  font-smoothing: antialiased;
  overflow-x: hidden;
  transform: scale3d(1, 1, 1);
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Typography */

#wordmark {
  text-decoration: underline;
}

h1,
h2,
h3 {
  font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", sans-serif;
  font-weight: 400;
}

nav a,
footer a {
  color: var(--global-font-size);
}

a.skip {
  display: block;
  text-decoration: none;
}

p.big {
  font-size: 1.25em;
  margin: 0;
  padding: 0;
}

p.big + p.big {
  text-indent: 2em;
}

pre {
  font-size: 14px;
}

blockquote {
  font-style: italic;
}

.note {
  background-color: Azure;
  padding: 0.5em 0.5em 0.5em 1em;
  margin-left: -1em;
  font-size: 0.85em;
  font-family: monospace;
  color: #333;
}

/* Navigation */

nav.grid {
  margin: 0;
}

nav.grid a:first-child {
  margin-left: 0;
}

nav a {
  display: block;
  padding: 1rem 1rem 1rem 3rem;
  text-decoration: none;
  position: relative;
}

nav a:hover {
  background-color: #0a0a0a;
  color: white;
}

nav a::before {
  position: absolute;
  font-size: 2rem;
  margin-left: -3rem;
  top: 0.3rem;
}

nav a.current {
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}

/* Layout */

#site {
  margin: 0 auto;
  height: 100%;
}

#topbar {
  overflow: hidden;
  background-color: transparent;
  padding-bottom: 8vw;
}

#topbar.shinrinyoku {
  border-color: #F8EBEE;
  background-color: #2a3635;
}

#topbar.black {
  border-color: #fefefe;
}

#topbar.waves {
  border-color: #6B7D67;
  background-color: #eee;
}

#topbar.mundane {
  border-color: #4100FF;
}

.page img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.spread img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.down {
  margin-top: 12vw;
}

.up {
  margin-top: -6vw;
}

/* Grid */

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.grid > * {
  flex: 1 0 12rem;
  margin: 1rem;
}

.grid > .double {
  flex-grow: 4;
}

.grid .pre-1 {
  margin-left: 26%;
}

.grid.loading > * {
  opacity: 0;
}

.grid:not(.loading) > * {
  animation: fadein 1.5s;
}

/* Photography */

#shinrinyoku {
  background-color: #2a3635;
}

#shinrinyoku h1 {
  color: #F8EBEE;
  font-size: 6em;
  line-height: .8;
  max-width: 800px;
  margin: 0;
}

#shinrinyoku h2 {
  margin: 0;
  color: #F8EBEE;
  font-size: 5em;
  font-weight: 600;
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

#shinrinyoku p {
  margin-top: 2rem;
  color: #F8EBEE;
  max-width: 80%;
}

#shinrinyoku a {
  color: #F8EBEE;
}

#shinrinyoku .grid:last-child {
  padding-bottom: 4rem;
}

#waves {
  background-color: #eee;
}

#waves h1,
#waves h2,
#waves h2 a,
#waves p {
  color: #6B7D67;
}

#maui h1,
#maui h2,
#maui h2 a,
#maui p {
  color: #6c5f67;
}

#mundane h1 {
  color: #4100FF;
  margin-top: -10px;
  margin-bottom: 0;
  word-break: break-all;
  line-height: .8;
}

#mundane p,
#mundane h2,
#mundane h2 a {
  color: #4100FF;
}

#couleur h1,
#couleur h2,
#couleur h2 a,
#couleur p {
  color: #445583;
}

#picos h1,
#picos h2,
#picos h2 a,
#picos p {
  color: #193038;
}

/* Footer */

footer > div:last-child {
  text-align: right;
}

#copy {
  font-size: 13px;
  color: #999;
}

/* Keyframes */

@keyframes fadein {
  from { opacity: 0; transform: translateY(-100px); }
  to   { opacity: 1; transform: translateY(0); }
}

@keyframes justfade {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes riseup {
  from { opacity: 0; transform: translateY(100px); }
  to   { opacity: 1; transform: translateY(0); }
}
