body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 17px;
  line-height: 1.428571429;
  color: #1a1a1a;
  margin: 0;
  padding: 0;
}

/* Typography */

a {
  color: #1a1a1a;
}

h1 {
  color: #1a1a1a;
  font-weight: 400;
  font-size: 35px;
  line-height: 1.2;
  margin-top: 0;
}

p.big {
  font-size: 21px;
}

pre {
  font-size: 14px;
}

.bigger {
  font-size: 42px;
}

/* Layout */

#site {
  margin: 0 auto;
  height: 100%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 1145px;
  margin: 0 auto;
}

.grid > * {
  flex: 1 0 12rem;
  margin: 1rem;
}

.two-columns > * {
  display: flex; 
  flex-basis: calc(50% - 2rem);
}

.layout-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.layout-fill {
  display: flex;
  flex-direction: column;
}

.layout-fill > div {
  flex: 1;
}

/* Footer */

footer {
  padding: 0rem 4rem 4rem 4rem;
  margin-top: 4rem;
  font-size: 14px;
}

footer a {
  text-decoration: none;
}

footer > div {
  padding-top: 1rem;
  border-top: 1px solid #eee;
}

footer > div:last-child {
  text-align: right;
}

#copy {
  font-size: 13px;
  color: #999;
}

/* Page specific */

#intro {
  position: relative;
}

#topbar {
  overflow: hidden;
  border-top: 25px solid #FFF5E8;
  background-color: transparent;
  padding-bottom: 5rem;
}

#topbar.shinrinyoku {
  border-color: #F8EBEE;
  background-color: #2a3635;
}

#topbar.black {
  border-color: #fefefe;
}

#topbar.waves {
  border-color: #6B7D67;
  background-color: #eee;
}

#topbar.mundane {
  border-color: #4100FF;
}

.page img {
  max-width: 99%;
  max-height: 99%;
}

.page {
  padding: 0 0 4rem;
}

.content {
  margin-top: 6rem;
}

.content > * {
  flex-basis:  20rem;
}

/* Photography */

.grid:not(footer) > * {
  animation: fadein 1.5s;
}

footer.grid > * {
  animation: riseup .5s;
  animation-timing-function: ease-in-out;
}

.title h1 {
  font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande";
  font-size: 8em;
  font-weight: 600;
  line-height: 1;
  margin-top: -22px;
}

.title h2 {
  font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande";
  font-size: 4em;
  font-weight: 600;
  line-height: 1.1;
}

#shinrinyoku {
  background-color: #2a3635;
}

#shinrinyoku h1 {
  color: #F8EBEE;
  font-size: 6em;
  line-height: .8;
  max-width: 800px;
  margin: 0;
}

#shinrinyoku h2 {
  margin: 0;
  color: #F8EBEE;
  font-size: 5em;
  font-weight: 600;
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

#shinrinyoku p {
  margin-top: 2rem;
  color: #F8EBEE;
  max-width: 80%;
}

#shinrinyoku a {
  color: #F8EBEE;
}

#shinrinyoku .grid:last-child {
  padding-bottom: 4rem;
}

#waves {
  background-color: #eee;
}

#waves h1,
#waves h2,
#waves h2 a,
#waves p {
  color: #6B7D67;
}

#mundane h1 {
  color: #4100FF;
  margin-top: -10px;
  margin-bottom: 0;
  word-break: break-all;
  line-height: .8;
}

#mundane p,
#mundane h2,
#mundane h2 a {
  color: #4100FF;
}

/* Post */

.post {
  align-self: right;
  flex-basis: 36rem;
  max-width: 100%;
}

.post > *:not(img) {
  max-width: 700px;
}

.post > p:first-of-type {
  font-size: 1.2em;
}

.meta {
  font-size: 16px;
  flex-basis: 0rem;
  color: #999;
  font-style: italic;
}

#post-navigation {
  margin-top: 6rem;
}

/* Mobile */

@media all and (min-width: 2000px) {
  body {
    font-size: 18px;
  }
  
  .grid {
    max-width: 1440px;
  }
}

@media all and (max-width: 980px) {
  footer {
    padding: 0 0 2rem;
  }
}

@media screen and (max-width: 414px) {
  .grid > * {
    flex: 1 0 50%;
    margin: 1rem;
  }
  footer > div:not(:first-child) {
    border: 0;
  }
}


/* Keyframes */

@keyframes fadein {
  from { opacity: 0; transform: translateY(-100px); }
  to   { opacity: 1; transform: translateY(0); }
}

@keyframes riseup {
  from { opacity: 0; transform: translateY(100px); }
  to   { opacity: 1; transform: translateY(0); }
}
