body {
  font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande";
  color: #1a1a1a;
  margin: 0;
  padding: 0;
}

/* Typography */

a {
  color: #1a1a1a;
}

a.skip {
  display: block;
  text-decoration: none;
  padding: 1rem;
}

h1 {
  color: #1a1a1a;
  font-weight: 400;
  font-size: 3.8vw;
  line-height: 4.4vw;
  margin-top: 1.2vw;
}

.title h1 {
  font-weight: 600;
  font-size: 7vw;
  line-height: 7.6vw;
  margin-top: 0.3vw;
}

.title h2 {
  font-weight: 600;
  font-size: 5vw;
  line-height: 5.6vw;
  margin-top: 0.3vw;
}

p:not(.big),
p:not(.bigger),
li {
  font-family: Verdana, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}

p.big {
  font-size: 1.8vw;
  line-height: 2.4vw;
}

p.bigger {
  font-size: 3vw;
  line-height: 3.6vw;
}

p.big,
p.bigger {
  margin-right: 1vw;
}

pre {
  font-size: 14px;
}

blockquote {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 1.2em;
  color: #333;
}

.note {
  background-color: Azure;
  padding: 0.5em 0.5em 0.5em 1em;
  margin-left: -1em;
  font-size: 0.85em;
  font-family: monospace;
  color: #333;
}

/* Layout */

#site {
  margin: 0 auto;
  height: 100%;
}

nav.grid {
  margin: 0;
}

nav.grid a:first-child {
  margin-left: 0;
}

nav a {
  display: block;
  padding: 1rem 1rem 1rem 3rem;
  text-decoration: none;
  position: relative;
}

nav a:hover {
  background-color: #0a0a0a;
  color: white;
}

nav a::before {
  position: absolute;
  font-size: 2rem;
  margin-left: -3rem;
  top: 0.3rem;
}

nav a.current {
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}

a#photography.current {
  background-image: url('i/photo.png');
}

a#photography::before {
  content: "📷";
  margin-left: -2.8rem;
}

a#software.current {
  background-image: url('i/software.png');
}

a#software::before {
  content: "💾";
  font-size: 1.8rem;
  margin-left: -2.5rem;
  top: 0.6rem;
}

a#etc.current {
  background-image: url('i/etc.png');
}

a#etc::before {
  content: "📓";
  margin-left: -2.5rem;
  top: 0.5rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.grid > * {
  flex: 1 0 12rem;
  margin: 1rem;
}

.grid > .double {
  flex-grow: 4;
}

.grid .pre-1 {
  margin-left: 26%;
}

.grid.loading > * {
  opacity: 0;
}

.grid:not(.loading) > * {
  animation: fadein 1.5s;
}

.two-columns > * {
  display: flex; 
  flex-basis: calc(50% - 2rem);
}

.layout-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.layout-fill {
  display: flex;
  flex-direction: column;
}

.layout-fill > div {
  flex: 1;
}

/* Footer */

footer {
  padding: 14rem 0rem 4rem;
  font-size: 14px;
}

footer a {
  text-decoration: none;
}

footer > div {
  padding-top: 1rem;
  border-top: 1px solid #eee;
}

footer > div:last-child {
  text-align: right;
}

#copy {
  font-size: 13px;
  color: #999;
}

/* Page specific */

#intro {
  position: relative;
}

#topbar {
  overflow: hidden;
  background-color: transparent;
  padding-bottom: 8vw;
}

#topbar.shinrinyoku {
  border-color: #F8EBEE;
  background-color: #2a3635;
}

#topbar.black {
  border-color: #fefefe;
}

#topbar.waves {
  border-color: #6B7D67;
  background-color: #eee;
}

#topbar.mundane {
  border-color: #4100FF;
}

.page {
  height: 100%;
}

.page.spaced {
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.page img {
  display: block;
  max-width: 100%;
  max-height: 94%;
}

.spread img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.down {
  margin-top: 12vw;
}

.up {
  margin-top: -6vw;
}

.content {
  margin-top: 6rem;
}

.content > * {
  flex-basis:  20rem;
}

/* Photography */

footer.grid > * {
  animation: riseup .5s;
  animation-timing-function: ease-in-out;
}

.notinview {
  opacity: 0;
}

.fadein {
  animation: fadein .5s;
}

.photo > img {
  cursor: pointer;
}

.photo > img + img {
  margin-top: 2rem;
}

.photo > .text {
  max-width: 600px;
}

#shinrinyoku {
  background-color: #2a3635;
}

#shinrinyoku h1 {
  color: #F8EBEE;
  font-size: 6em;
  line-height: .8;
  max-width: 800px;
  margin: 0;
}

#shinrinyoku h2 {
  margin: 0;
  color: #F8EBEE;
  font-size: 5em;
  font-weight: 600;
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

#shinrinyoku p {
  margin-top: 2rem;
  color: #F8EBEE;
  max-width: 80%;
}

#shinrinyoku a {
  color: #F8EBEE;
}

#shinrinyoku .grid:last-child {
  padding-bottom: 4rem;
}

#waves {
  background-color: #eee;
}

#waves h1,
#waves h2,
#waves h2 a,
#waves p {
  color: #6B7D67;
}

#maui h1,
#maui h2,
#maui h2 a,
#maui p {
  color: #6c5f67;
}

#mundane h1 {
  color: #4100FF;
  margin-top: -10px;
  margin-bottom: 0;
  word-break: break-all;
  line-height: .8;
}

#mundane p,
#mundane h2,
#mundane h2 a {
  color: #4100FF;
}

#couleur h1,
#couleur h2,
#couleur h2 a,
#couleur p {
  color: #445583;
}

#picos h1,
#picos h2,
#picos h2 a,
#picos p {
  color: #193038;
}

/* Post */

.post {
}

.post > *:not(img) {
  max-width: 860px;
}

.post > p:first-of-type {
  font-size: 1.2em;
}

.meta {
  font-size: 16px;
  font-style: italic;
  color: #999;
}

#post-navigation {
  margin-top: 6rem;
}

/* Mobile */

@media all and (min-width: 2000px) {
  body {
    font-size: 18px;
  }
  
  .grid {
    max-width: 2000px;
  }
}

@media all and (min-width: 1400px) {
  nav {
    display: flex;
  }
  nav > a {
    width: 33%;
  }
}

@media screen and (max-width: 414px) {
  h1 {
    font-size: 8vw;
    line-height: 10vw;
  }

  p.big {
    font-size: 6vw;
    line-height: 8vw;
  }

  .grid > * {
    flex: 1 0 50%;
    margin: 1rem;
  }

  .grid > nav {
    margin: 0;
  }

  .grid:not(.loading) > nav {
    animation: none;
  }

  .grid:not(.loading) > nav > * {
    animation: none;
  }

  nav {
    z-index: 11;
    position: fixed;
    display: flex;
    bottom: 0;
    box-shadow: -1px 1px 4px rgba(50, 50, 50, 0.5);
    background-color: white;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  nav a {
    flex: 1 0 1rem;
    margin: 0;
    padding: 3rem 1rem 0.5rem;
    font-size: 11px;
    text-align: center;
  }

  nav a.current {
    background-position: 0.5rem 2.2rem;
  }

  a#photography::before {
    margin-left: 1.1rem;
  }

  a#software::before {
    margin-left: 0.6rem;
  }

  a#etc::before {
    margin-left: 0.4rem;
  }

  footer > div:not(:first-child) {
    border: 0;
  }
}


/* Keyframes */

@keyframes fadein {
  from { opacity: 0; transform: translateY(-100px); }
  to   { opacity: 1; transform: translateY(0); }
}

@keyframes justfade {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes riseup {
  from { opacity: 0; transform: translateY(100px); }
  to   { opacity: 1; transform: translateY(0); }
}
