/*
  Variables
*/

:root {
  --sans: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  --serif: times, serif;
  
  --white: #FCFCFC;
  --black: #000;

  --offwhite: #E7E7E7;

  --grey: #d7d2bf;
  --grey-transparent: #d7d2bfaa;
  --grey-dark: #413D44;
  --grey-dark-transparent: #413D44aa;

  --primary: #D6F500;
  --primary-transparent: #D6F500cc;

  --green: #4f7d01;
  --green-transparent: #4f7d01cc;

  --blue: #01267d;
  --red: #C74938;
  --red-transparent: #C74938aa;

  --gutter: 16px;
}


/*
  Defaults
*/

body {
  height: 100%;
  font-family: var(--sans);
  font-size: 15px;
  background-color: var(--white);
  color: var(--black);
  margin: 0;
  transition: background-color 1s ease-in-out;
}

a:link {
  color: var(--black);
}

.content a:visited {
  color: var(--grey-dark);
}

h1, h2 {
  font-family: var(--sans);
  font-weight: 600;
  transform: scaleY(1.4);
  letter-spacing: -2px;

  &.normal {
    font-size: 1.25rem;
    letter-spacing: inherit;
    transform: none;
    font-weight: 600;
  }

  &.serif {
    font-family: var(--serif);
    font-weight: 400;
  }
}

h1 {
  font-size: 7vh;
  letter-spacing: -4px;
  line-height: 1;
  margin-top: 0.4em;

  @media (max-width: 926px) {
    letter-spacing: -2px;
  }
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
  text-transform: uppercase;
}

h4, h5 {
  font-weight: 600;
  font-size: 1rem;
}

p, li {
  font-size: 1.25em;
  line-height: 1.4;
}

postamble {
  margin-top: 4vw;
  text-transform: uppercase;
  font-weight: 600;  
}

article {
  padding: 0 6rem 3rem 0;

  &.span-2 {
    max-width: 680px;
  }

  @media (max-width: 926px) {
    & {
      padding-right: 1rem;
    }
  }
}

footer {
  padding: 1em;
  scroll-snap-align: end; /* for homepage snap scrolling */
}

img {
  max-width: 100%;
}

pre,
.note {
  background-color: var(--grey-dark);
  color: var(--offwhite);
  padding: 1em;
  font-size: 0.9em;
  line-height: 1.4;
  border: 2px solid var(--black);
  box-shadow: 5px 5px 0px var(--grey-dark-transparent);
}

pre {
  background-color: var(--grey-dark);
  color: var(--offwhite);
  padding: 0 0.5em;
  overflow-x: scroll;
}

p > code {
  font-size: 0.9em;
  background-color: var(--offwhite);
  color: var(--green);
  padding: 0 0.25em;
  border-radius: 3px;
}


/*
  Links
*/

a {
  transition: background 0.1s ease-in 0.1s;
  background-color: none;
}

a:hover {
  background-color: var(--primary-transparent);
  color: var(--black);
  text-decoration: none;
}

p a:link {
  color: var(--blue);
}

header a,
nav a {
  color: var(--black);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;

  @media (max-width: 926px) {
    display: block;
  }
}

nav a + a {
  margin-left: 1em;

  @media (max-width: 926px) {
    margin-left: 0;
  }
}

footer a {
  text-decoration: none;
}

a > h5 {
  font-size: 1.25em;
  font-weight: 400;
}

a > img + h5 {
  display: none;
}

a.back {
  text-decoration: none;
}

a.grey {
  color: var(--grey-dark);
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

a.grey:hover {
  text-decoration: none;
}

a.black {
  color: var(--black);
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

a.plain {
  text-decoration: none;
  color: inherit;

  &:hover {
    background-color: inherit;
    color: inherit;
    text-decoration: none;
  }
}

.normal > a {
  color: var(--black);
  text-transform: uppercase;
  text-decoration: none;
}

.normal > a:visited {
  color: var(--grey-dark);
}

/*
  Typography
*/

.serif {
  font-family: var(--serif);
}

.pagetitle {
  margin-top: 0;
  font-size: 4rem;
  font-family: var(--serif);
  font-weight: 400;
  letter-spacing: -4px;
  line-height: 1;

  &.margin {
    margin: 12vh 0 3vh;
  }

  @media (max-width: 926px) {
    & {
      font-size: 5vh;
      letter-spacing: -2px;
    }
  }
}

.post > h2 {
  font-family: var(--serif);
  font-weight: 400;
}

.post img {
  max-width: 100%;

  &.half {
    max-width: 47.125%;
  }
}

.content h3,
.content h4 {
  margin-top: 2em;
}

.post-navigation {
  margin-top: 4vw;
}

p.big {
  font-size: 1.65em;
  margin: 0.7em 0;
}

p.bigger {
  font-size: 1.95em;
  margin: 0.7em 0;
}

mark {
  animation: 1.5s highlight 1.5s 1 normal forwards;
  background-color: none;
  background: linear-gradient(90deg, var(--primary-transparent) 50%, rgba(255, 255, 255, 0) 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
}

@keyframes highlight {
  to {
    background-position: 0 0;
  }
}

/*
  Layout
*/

.level {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: var(--gutter);
  padding-bottom: var(--gutter);

  &.no-padding {
    padding: 0;
  }
}

.aside {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1440px;
  margin: 6vh auto 2vh;
}

.aside p,
.aside .title h1 {
  margin-top: 0;
}

.aside .title h1 {
  font-family: var(--serif);
  font-weight: 400;
  text-align: center;
}

.aside > nav:first-child {
  grid-column-start: 2;
}

.aside.wide {
  padding: 1em;
  display: block;
}

.title-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.container {
  position: relative;
  z-index: 11;
  padding: 1em;
}

.col {
  max-width: 320px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;

  .span-2 {
    grid-column: span 2;
  }
}

section .grid-3 {
  @media (max-width: 926px) {
    & {
      display: block;
    }
  }
}

.grid-6 {
  display: grid;
  grid-template-columns: repeat(6, 6fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.grid-50 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;

  @media (max-width: 926px) {
    display: block;
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 4vw;
  grid-row-gap: 2vh;
  align-items: end;
}

.content.repeat-4 {
  max-width: 1920px;
  grid-template-columns: repeat(4, 1fr);
}

.content.spaced {
  grid-row-gap: 10vh;

  @media (max-width: 926px) {
    & > div {
      margin-bottom: 3em;
    }
  }
}

.content img {
  border: 2px solid var(--black);
  box-shadow: 5px 5px 0px var(--grey-dark-transparent);
  cursor: pointer;
}

.content .top {
  align-self: flex-start;
  position: sticky;
}

.content > div {
  align-self: center;
  justify-self: center;
}

.content.repeat-4 > div {
  align-self: start;
  justify-self: flex-start;
}

.content > .col-2,
.content > .center {
  grid-column: span 2;
}

.content > .col-3 {
  grid-column: span 3;
}

.content > .col-4,
.content.repeat-4 > .center {
  grid-column: span 4;
}

.content > .right {
  justify-self: end;
}

.content.repeat-4 > .end {
  align-self: end;
}

.content img {
  max-width: 100%;
  max-height: calc(100vh - 4em);
  content-visibility: auto;
}

.content .extra-padding img {
  display: block;
  margin: 0 auto;
  max-width: 74%;
}

.content .text {
  padding: 10vh;
}


/*
  Viewport
*/

.viewport-scroller {
  max-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: proximity;
/*  scroll-snap-points-y: repeat(100vh);*/
  scroll-snap-type: y proximity;
}

.viewport {
  height: 100vh;
  min-height: 100%;
  max-height: 100%;
  background-size: cover;
  position: relative;
  overflow: hidden;
  scroll-snap-align: start;

  &[data-link] {
    cursor: pointer;
  }

  @media (max-width: 926px) {
    .grid-3 {
      display: block;
    }
  }
}

.vp1 {
  background: linear-gradient(to top, #d7d2bfef, #d7d2bfaa), url(/assets/i/squamish.jpeg) center center no-repeat;
  display: flex;
  flex-direction: column;

  @media (max-width: 926px) {
    justify-content: space-between;
  }
}

.vp1-title {
  font-size: 23vw;
  font-weight: 800;
  color: var(--primary-transparent);
  top: 3px;
  margin: 0;
  margin-left: -4vw;

  @media (max-width: 926px) {
    margin-left: 0;
  }
}

.vp2-title {
  font-size: 3em;
  font-weight: 800;
  color: var(--black);
  margin: 0;
  padding-top: 6vh;
}

.vp1-content.container {
  margin-top: 4vh;
  margin-bottom: 14vh;
}

/*
  Media queries
*/

@media screen and (max-width: 980px) {
  .aside {
    padding: 8vw;
  }

  .aside,
  .content {
    display: block;
  }

  .content img {
    display: block;
    margin: 0 auto;
  }
}

@media screen and (max-width: 740px) {
  .wordmark {
    min-width: 300px;
  }
}

@media screen and (max-width: 620px) {
  .wordmark {
    grid-column: span 3;
    min-width: inherit;
    text-align: center;
  } 
}

@media screen and (max-width: 480px) {
  body {
    font-size: 12px;
  } 
}


/*
  Page specific
*/

#index header {
  z-index: 33;
  position: absolute;
  top: 0;
  width: 100%;
}

#blog .vp1-title {
  color: var(--offwhite); 
}

#photography .content {
  /* display: block; */
  align-items: center;
}

#town {
  background-color: #D0DBD7;
}

#sebastion {
  background-color: #f3f8ff;
}

#picos {
  background-color: #F1E0D0;
  color: #57491e;
}

#picos h2 {
  font-size: 2.25em;
  font-weight: 400;
}

#picos a {
  color: #57491e;
}

#noir {
  background-color: var(--offwhite);
}

#noir h1,
#noir .body p,
#noir a {
  color: black;
}

#paris {
  background-color: #f3e7bd;
}

#paris h1,
#paris .body p,
#paris a {
  color: #2f425c;
}

#waves {
  background-color: #f9f3e1;
}

#waves h1,
#waves p,
#waves a {
  color: #909A9C;
}

#black {
  background-color: #666;
}
#black h1,
#black .body p,
#black a {
  color: var(--black);
}

#maui {
  background-color: #FBCBC1;
}

#maui h1,
#maui .body p,
#maui a {
  color: black;
}

#shinrinyoku {
  background-color: #433C06;
}

#shinrinyoku h1,
#shinrinyoku h2,
#shinrinyoku .body p,
#shinrinyoku a {
  color: #F2CB6C;
}

#shinrinyoku h2 {
  margin: 0;
  font-size: 4em;
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
