<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Adrian Unger">

    <title>{{ page.title }} &middot; Staydecent</title>

    <link rel="stylesheet" href="/assets/css/main-180.css">

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="/assets/js/respond.min.js"></script>
</head>
<body class="home">

<a class="move" href="#main">Skip to content</a>

<div class="container">

    <header class="cf" role="banner">
        <h1 id="wordmark"><a href="/" title="Go to the homepage"><img src="/assets/i/wordmark-stacked-small-white.png" alt="Staydecent"></a></h1>

        <nav role="navigation">
            <ul class="cf">
            {% for link in site.navigation %}
                {% assign current = nil %}
                {% if page.url == link.url or page.url contains link.layout %}
                    {% assign current = ' class="current"' %}
                {% endif %}

                <li><a{{ current }} href="{{ link.url }}" title="{{ link.title }}">{{ link.text }}</a></li>
            {% endfor %}
            </ul>
        </nav>
    </header>

    <div role="main" id="main" class="cf">
        {{ content }}
    </div>

    <footer class="lined">
        <p class="centre">Based in beautiful British Columbia, Canada.</p>
        <p class="centre note"><a href="http://twitter.com/staydecent" title="Adrian Unger on Twitter">@staydecent</a> &middot; <a href="/colophon" title="Colophon">Colophon</a></p>
    </footer>

</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script src="/assets/js/main-010.js"></script>

</body>
</html>