@import "variables";
@import "mixins";


// STRUCTURE
// ---------

body {
  font-family:$baseFontFamily;
  font-size:$baseFontSize;
  line-height:$baseLineHeight;
  color:$textColor;
  background:#fff;
}

#tree {
  display: block;
  position: absolute;
  top: 5px;
  right: 25px;
  padding:10px 5px 0 0;
  border:0 !important;
}

#head {
  padding:25px 0 50px;
  opacity: .5;
  -webkit-transition: 0.5s opacity ease;
  transition: 0.5s opacity ease;

  &:hover {
    opacity: 1;
  }
}

#main {
  
  p:not(.big) {
    font-size:$baseFontSize - 3;
    line-height:1.6;
  }
}

#foot {
  padding:0;
  border-top:2px solid white;
  background: $white;

  .pull-left {
    width:33.3%;
  }

  small {
    font-size: 70%;
  }

  nav {
    a { font-size: 14px; }
  }
}

.spaced {
  margin-top:50px;
}

// PAGE ELEMENTS
// -------------

article {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  aside,
  .note,
  pre,
  blockquote,
  p,
  ol,
  ul {
    max-width:680px;
    margin-right:auto;
    margin-left:auto;
  }

  header {

    h1 {
      padding:.2em 0 0;
      margin-top:0;
      color:$grayDarker;
      line-height:1;
      display:block;
      width:100%;
      
      a {
        color:$grayDarker;
        border:0;
      }
    }
  }
}

.post-navigation {
  font-size: $baseFontSize + 3;
  margin-top: 25px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border-top: 1px solid $grayLighter;

  a,
  h4 {
    margin:0;
  }
}


//
// Layouts
// Fixed-width and fluid (with sidebar) layouts
// --------------------------------------------

// Fluid layouts (left aligned, with sidebar, min- & max-width content)
.container-fluid {
  position:relative;
  width:auto;
  max-width:860px;
  min-width:260px;
  padding-left: $gridGutterWidth;
  padding-right: $gridGutterWidth;
  @include clearfix();
  @include center-block();
}

// HEADINGS
// --------

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:$accentFamily;
  line-height:1.4;
  color:$grayDarker;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

article {

}


// LINKS
// -----
a {
  color:$linkColor;
  text-decoration:none;
  border-bottom:1px solid $grayLight;
}
a:hover {
  color:$linkColorHover !important;
}
a > i {
  margin-top:3px;
}
a.title {
  color:inherit;
}


// TYPE
// ----

#intro {
  font-family:$accentFamily;
  font-size:12px;
  font-weight:400;
  line-height:1.5;
  text-align:center;
  text-transform:none;
  color:$grayDarker;

  a {
    color:$grayDarker;
  }
}

.grossly-massive,
.big {
  font-family: $accentFamily;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.4;
  list-style: none;
  margin-top: 0;
  margin-bottom:25px;
  padding: 10px 0;
  color:$grayDarker;

  li {
    display:inline;
  }

  li + li:before {
    content:'\2014'; // mdash
    // content:'\21D2'; // dbl arrow
    // content:' \00D7'; // x
    color:darken($linkColor, 5%);
  }

}

.meta {
  font-style: italic;
  color: $gray;
}

.black  {
  color:$black;
}

p {
}

blockquote {
  position:relative;
  color:$grayDarker;

  p {
    position:relative;
    font-family: $baseFontFamily;
    font-weight: 400;
    font-style:italic;
    color:$grayDark;
    margin:0;
    padding-left:15px;

    &::before {
      position: absolute;
      content:'| ';
      margin-left:-15px;
      font-style: normal;
      font-weight: 800;
      opacity: .2;
    }
  }

  footer {
    font-size:$baseFontSize - 2;
    line-height:$baseLineHeight - 4;
  }
}

article blockquote > p {
  font-size:$baseFontSize + 2;
}

pre,
code,
kbd,
samp {
    font-family:$monospace;
    font-size:.8em;
    line-height:1.4;
}

p code,
li code {
  color:$black;
  background:$grayLighter;
  @include border-radius(6px);
}

pre {
    white-space:pre;
    white-space:pre-wrap;
    word-wrap:break-word;
    margin-bottom:2em;
    background:$grayDarker;
    border-bottom:1px solid rgba(255,255,255,0.9);
    color:$white;
    padding:1.5em 2em;
}

.gist pre {
    color:$black;
}

dfn {
  border-bottom:1px dotted $blue;
  cursor:help;
}

#foot p.meta {
  margin:0 0 2em;
}

.blue {color:$grayLighter !important;background:$blue !important;}
.green {color:$grayLighter !important;background:$green !important;}
.red {color:$grayLighter !important;background:$red !important;}
.yellow {color:$grayLighter !important;background:$yellow !important;}
.orange {color:$grayLighter !important;background:$orange !important;}
.pink {color:$grayLighter !important;background:$pink !important;}
.purple {color:$grayLighter !important;background:$purple !important;}

// LISTS
// -----

ol.styled {
  padding:0;
  list-style:none;

  li {
    color:$grayLight;
    margin:0;
    padding:0;

    a {
      font-size:$baseFontSize + 2;
    }

    .date {
      color:$gray;
    }
  }
}

dl {
  font-size:$baseFontSize - 2;

  dt {
    font-weight:700;
    font-size:75%;
  }

  dd {
    margin:0 0 1em;
  }
}

// MEDIA
// -----

img {
  max-width:100%;
}

iframe {
  border:1px solid $grayLight;
}