@import "variables";
@import "mixins";


// STRUCTURE
// ---------

body {
  font-family:$serif;
  font-size:$baseFontSize;
  line-height:$baseLineHeight;
  color:$textColor;
  background:$white;
}

#foot {
  background:$grayLight;
  padding:.5em 0 3.5em;

  article {
    font-size:$baseFontSize - 3;

    .big {
      color:$black;
    }
  }

  nav {
    margin-top:1.5em;
  }
}

.padding {
  margin-top:2.5em;
}

// PAGE ELEMENTS
// -------------

#tree {
  width:85px;
  height:102px;
  background:url(../i/tree-scaled.png) no-repeat 0 50px;
  display:block;
  margin:0 auto;
  padding-top:50px;
  overflow:hidden;
  text-indent:-9999em;
  @include transition(all .2s ease-in-out);

  &:hover {
    cursor:pointer;
    @include scale(1.1)
  }
}

article {

  h2,
  h3,
  h4,
  h5,
  h6,
  aside,
  .note,
  pre,
  blockquote,
  p,
  ol,
  ul {
    max-width:680px;
    margin-right:auto;
    margin-left:auto;
  }

  header {
    h1 {
      margin-top:.5em;
      color:$green;

      span:nth-child(1n+1) {
        color:$orange;
      }
      span:nth-child(2n+2) {
        color:$blue;
      }
      span:nth-child(3n+3) {
        color:$yellow;
      }
      span:nth-child(4n+4) {
        color:$green;
      }
    }

    .meta {
      margin:3em 0 0;
      font-size:70%;
      line-height:1;
      font-family:$baseFontFamily;
      opacity:0.7;
    }
  }
}

.post-navigation {
  font-size:$baseFontSize + 6;
  margin-top:4em;
  margin-bottom:4em;
  text-align:center;

  h4 {
    margin:0;
  }
}


//
// Layouts
// Fixed-width and fluid (with sidebar) layouts
// --------------------------------------------

// Fluid layouts (left aligned, with sidebar, min- & max-width content)
.container-fluid {
  position:relative;
  width:auto;
  max-width:1140px;
  min-width:260px;
  padding-left: $gridGutterWidth;
  padding-right: $gridGutterWidth;
  @include clearfix();
  @include center-block();
}

// HEADINGS
// --------

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:$baseFontFamily;
  font-weight:800;
  line-height:1.4;
  text-transform:uppercase;
  text-align:center;
  margin:1.66em 0 0.23em 0;
  color:$black;
}

h1 {
  font-size:4em;
  line-height:1.2;
}

article {
  h4,
  h5,
  h6 {
    font-weight:700;
    text-align:left;
    text-transform:none;
    margin-top:.23em;
    margin-bottom:.23em;
  }
}

#site-title {
  font-size:$baseFontSize - 4;
  font-weight:700;
  line-height:.9;
  text-align:left;
  text-transform:none;
  padding:4em 0 .5em;
  max-width:680px;
  margin-right:auto;
  margin-left:auto;
  border-bottom:1px solid $grayLight;

  a {
    color:$grayDark;
    border:0;
  }
}

h6 {
  margin-top:2.4em;
  margin-bottom:0.6em;
}


// LINKS
// -----
a {
  color:$linkColor;
  text-decoration:none;
  border-bottom:1px solid $gray;
}
a:hover {
  color:$linkColorHover;
}
a > i {
  margin-top:3px;
}
a.title {
  color:inherit;
}
a.monochrome {
  color:$grayLight;

  &:hover {
    color:$green;
    text-decoration:none;
  }
}

.bordered {
  padding:.5em 1em;
  border:4px solid white;
}

#skipto {
  display:inline-block;
  margin-top:-6px;
  margin-left:64%;
  padding:.25em .5em;
  background:white;
  font-size:$baseFontSize - 6;
}

// TYPE
// ----

.grossly-massive,
.big {
  font-family:$baseFontFamily;
  font-weight:700;
  font-size:1.4em;
  line-height:$baseLineHeight;
  list-style:none;
  margin-top:2.5em;
  margin-bottom:0;
  padding:0;
  color:$grayDarker;

  li {
    display:inline;
  }

  li + li:before {
    content:'\2014'; // mdash
    // content:'\21D2'; // dbl arrow
    // content:' \00D7'; // x
    color:darken($linkColor, 5%);
  }

}

.meta {
  font-family:$monospace;
  font-size:$baseFontSize - 3;
  line-height:$baseLineHeight - 2;
}

.black  {
  color:$black;
}

p {
  margin:1em 0;
}

blockquote {
  position:relative;
  color:$grayDarker;
  margin-left:0;
  margin-right:0;
  padding-left:2em;
  padding-bottom:0;
  font-size:$baseFontSize * 1.4;
  font-style:italic;
  border-left:4px solid $grayLighter;

  p {
    position:relative;
    font-style:italic;
    color:lighten($textColor, 25%);
    margin:0;
  }

  footer {
    font-size:$baseFontSize - 2;
    line-height:$baseLineHeight - 4;
  }
}

article blockquote > p {
  font-size:$baseFontSize + 2;
}

pre,
code,
kbd,
samp {
    font-family:$monospace;
    font-size:.8em;
    line-height:1.4;
}

p code,
li code {
  color:$black;
  background:$grayLighter;
  @include border-radius(6px);
}

pre {
    white-space:pre;
    white-space:pre-wrap;
    word-wrap:break-word;
    margin-bottom:2em;
    background:$grayDarker;
    border-bottom:1px solid rgba(255,255,255,0.9);
    color:$white;
    padding:1.5em 2em;
}
.gist pre {
    color:$black;
}

dfn {
  border-bottom:1px dotted $blue;
  cursor:help;
}

#foot p.meta {
  margin:0 0 2em;
}

.orange {color:$orange !important;}
.yellow {color:$yellow !important;}
.green {color:$green !important;}
.blue {color:$blue !important;}

// LISTS
// -----

ol.styled {
  padding:0;
  list-style:none;

  li {
    color:$grayLight;
    margin:0;
    padding:0;

    a {
      border-bottom:1px solid $grayLight;
      font-size:$baseFontSize + 2;
    }

    .date {
      color:$gray;
    }
  }
}

dl {
  font-size:$baseFontSize - 2;

  dt {
    font-weight:700;
    font-size:75%;
  }

  dd {
    margin:0 0 1em;
  }
}

// MEDIA
// -----

img {
  max-width:100%;
}

iframe {
  border:1px solid $grayLight;
}