// GLOBAL VALUES
// --------------------------------------------------

// Monoschrome
$black:                 #000;
$grayDarker:            #373737;
$grayDark:              #555;
$gray:                  #bebebe;
$grayLight:             #e6e6e6;
$grayLighter:           #f1f4ea;
$white:                 #fff;

// Accent colors
$blue:                  #0027eb;
$green:                 #00722d;
$red:                   #ff002c;
$yellow:                #faf3c7;
$orange:                #f37966;
$pink:                  #f33949;
$purple:                #3c00ff;

// Links
$linkColor:             $orange;
$linkColorHover:        darken($orange, 15%);

// Typography
$baseFontSize:          19px;
$baseFontFamily:        helvetica, arial, sans-serif;
$baseLineHeight:        1.8;
$textColor:             $grayDarker;

$serif:                 'Gentium Basic', Garamond, serif;
$monospace:             'Menlo', 'Monaco', 'Consolas', monospace;
$accentFamily:          'lato', 'lucida grande', 'lucida sans unicode', sans-serif;

// Buttons
$primaryButtonBackground:    $grayLighter;



// COMPONENT VARIABLES
// --------------------------------------------------

// Z-index master list
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
$zindexDropdown:        1000;
$zindexPopover:         1010;
$zindexTooltip:         1020;
$zindexFixedNavbar:     1030;
$zindexModalBackdrop:   1040;
$zindexModal:           1050;

// Input placeholder text color
$placeholderText:       $grayLight;



// GRID
// --------------------------------------------------

// Default 940px grid
$gridColumns:             12;
$gridColumnWidth:         60px;
$gridGutterWidth:         20px;

// Fluid grid
$fluidGridColumnWidth:    6.382978723%;
$fluidGridGutterWidth:    2.127659574%;