// GLOBAL VALUES
// --------------------------------------------------

// Monoschrome
$black:                 #0a0b0b;
$grayDarker:            #46403b;
$grayDark:              #7b8187;
$gray:                  #bdc1c4;
$grayLight:             #eceae7;
$grayLighter:           #f6f8f8;
$white:                 #fcfcfc;

// Accent colors
$blue:                  #0A2BFF;
$green:                 #68c077;
$red:                   #ff6a4c;
$yellow:                #ffa800;
$orange:                #ef6b30;
$pink:                  #ed6975;
$purple:                #a68bd6;

// Links
$linkColor:             $black;
$linkColorHover:        $blue;

// Typography
$baseFontSize:          20px;
$baseFontFamily:        helvetica, sans-serif;
// $baseFontFamily:        'Open Sans', helvetica, sans-serif;
$baseLineHeight:        1.8;
$textColor:             $grayDarker;

$serif:                 serif;
$monospace:             'Menlo', 'Monaco', 'Consolas', monospace;
$accentFamily:          'Source Sans Pro', helvetica, sans-serif;

// Buttons
$primaryButtonBackground:    $grayLighter;



// COMPONENT VARIABLES
// --------------------------------------------------

// Z-index master list
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
$zindexDropdown:        1000;
$zindexPopover:         1010;
$zindexTooltip:         1020;
$zindexFixedNavbar:     1030;
$zindexModalBackdrop:   1040;
$zindexModal:           1050;

// Input placeholder text color
$placeholderText:       $grayLight;



// GRID
// --------------------------------------------------

// Default 940px grid
$gridColumns:             12;
$gridColumnWidth:         60px;
$gridGutterWidth:         20px;

// Fluid grid
$fluidGridColumnWidth:    6.382978723%;
$fluidGridGutterWidth:    2.127659574%;