// GLOBAL VALUES
// --------------------------------------------------

// Monoschrome
$black:                 #2c2f31;
$grayDarker:            #37322e;
$grayDark:              #534c47;
$gray:                  #6c6c6a;
$grayLight:             #aaafaf;
$grayLighter:           #cdd0d1;
$white:                 #f1f1ed;

// Accent colors
$blue:                  #56b3a9;
$green:                 #7eab65;
$red:                   #ff002c;
$yellow:                #dfa503;
$orange:                #fd6651;
$pink:                  #f33949;
$purple:                #3c00ff;

// Links
$linkColor:             $orange;
$linkColorHover:        darken($orange, 15%);

// Typography
$baseFontSize:          21px;
$baseFontFamily:        'Open Sans', helvetica, arial, sans-serif;
$baseLineHeight:        1.8;
$textColor:             $grayDarker;

$serif:                 Georgia, serif, Georgia, serif;
$monospace:             'Menlo', 'Monaco', 'Consolas', monospace;
$accentFamily:          'lucida grande', 'lucida sans unicode', sans-serif;

// Buttons
$primaryButtonBackground:    $grayLighter;



// COMPONENT VARIABLES
// --------------------------------------------------

// Z-index master list
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
$zindexDropdown:        1000;
$zindexPopover:         1010;
$zindexTooltip:         1020;
$zindexFixedNavbar:     1030;
$zindexModalBackdrop:   1040;
$zindexModal:           1050;

// Input placeholder text color
$placeholderText:       $grayLight;



// GRID
// --------------------------------------------------

// Default 940px grid
$gridColumns:             12;
$gridColumnWidth:         60px;
$gridGutterWidth:         20px;

// Fluid grid
$fluidGridColumnWidth:    6.382978723%;
$fluidGridGutterWidth:    2.127659574%;